.signIn-wrap {
    height: 100vh;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.signIn-form {
    align-items: center;
    max-width: 390px;
    margin-bottom: 100px;
}

.signIn-form hr {
    width: 70%;
}

.signIn-header {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.signIn-hint {
    font-size: 13px;
    color: gray;
}

.login-title-wrap{
    margin-bottom: 40px;
}

.login-title {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #333333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-title-sub{
    font-size: 1.1rem;
    color: gray;
}

.social-btn-wrap {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 20px 0 20px 0;
    margin: 20px 0 20px 0;
}

.social-btn {
    padding: 13px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid black;
    width: 80%;
}

.social-btn svg {
    margin-right: 10px;
}

.social-btn-text {
    font-size: 17px;
}

.google-btn {
    color: red;
}

.kakao-btn {
    color: #fabe43;
}

.guest-btn {
    color: gray;
}