.menu-update-active {
    animation: slide 300ms ease-in-out forwards;
}

@keyframes slide {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(2%);
    }
}

#menuNameInput {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

#map {
    width: 500px;
    height: 400px;
}

#menuThumbnail {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

#soberCommentTitle {
    margin-bottom: 3px;
}

#soberCommentInput {
    background-color: whitesmoke;
    resize: none;
    border: none;
}
