#menuNameInput {
    padding-left: 20px;
    font-size: 18px;
    border: none;
}

#map {
    width: 500px;
    height: 400px;
}

#menuThumbnail {
    object-fit: cover;
    width: 100%;
}

#soberCommentTitle {
    margin-bottom: 3px;
}

#soberCommentInput {
    background-color: whitesmoke;
    resize: none;
    border: none;
}

#updateSubmitBtnWrap {
    padding-right: 0;

}

#updateCancelBtnWrap {
    padding-left: 5px;
}