.menu-title {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    font-size: 22px;
    font-weight: bold;
}

.locationBtn {
    border-color: green;
    color: green;
    margin-right: 15px;
}

.menuUpdateBtn {
    border-color: cornflowerblue;
    color: cornflowerblue;
    margin-right: 15px;
}

.menuDeleteBtn {
    border-color: palevioletred;
    color: palevioletred;
    margin-right: 5px;
}

.roadAddressCopyBtn {
    color: cornflowerblue;
    text-decoration: none;
    margin-left: 10px;
    border: none;
    background: transparent;
}

.menuThumbnail {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 90%;
    height: 400px;
}