.menu-title {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    font-size: 22px;
    font-weight: bold;
}

.locationBtn {
    border-color: darkolivegreen;
    color: darkolivegreen;
    margin-right: 15px;
}

.menuUpdateBtn {
    border-color: cornflowerblue;
    color: cornflowerblue;
    margin-right: 15px;
}

.menuDeleteBtn {
    border-color: palevioletred;
    color: palevioletred;
    margin-right: 5px;
}

.roadAddressCopyBtn {
    color: cornflowerblue;
    text-decoration: none;
    margin-left: 10px;
    border: none;
    background: transparent;
}