<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjy.gourmet.mapper.MenuMapper">
    <insert id="insertMenu" parameterType="com.kjy.gourmet.domain.menu.Menu">
        insert into menu(room_id, name, thumbnail, sober_comment, longitude, latitude)
        values (#{roomId}, #{name}, #{thumbnail}, #{soberComment}, #{longitude}, #{latitude});
    </insert>

    <select id="selectMenu" parameterType="long" resultType="com.kjy.gourmet.domain.menu.Menu">
        select *
        from menu
        where id = #{menuId}
    </select>

    <select id="selectMenuList" resultType="com.kjy.gourmet.domain.menu.Menu">
        select *
        from menu
        where room_id = #{roomId}
        order by id desc /* 성능 봐서 역순 인덱스 */
    </select>

    <select id="getAllThumbnailsById" parameterType="long" resultType="java.lang.String">
        select thumbnail
        from menu
        where room_id = #{roomId}
    </select>

    <delete id="deleteMenu" parameterType="long">
        delete
        from menu
        where id = #{menuId}
    </delete>

    <delete id="deleteAllMenu">
        delete
        from menu;
    </delete>


</mapper>