<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjy.gourmet.mapper.MenuMapper">
    <insert id="insertMenu" parameterType="com.kjy.gourmet.domain.menu.Menu" useGeneratedKeys="true" keyProperty="id">
        insert into menu(room_id, name, thumbnail, sober_comment, place_name, road_address_name, longitude, latitude,
                         writer_id)
        values (#{roomId}, #{name}, #{thumbnail}, #{soberComment}, #{placeName}, #{roadAddressName}, #{longitude},
                #{latitude}, #{writerId});
    </insert>

    <insert id="insertTodayPick" parameterType="long">
        insert ignore into today_pick(room_id, menu_id)
        values (#{roomId}, #{menuId});
    </insert>

    <delete id="deleteTodayPick" parameterType="long">
        delete
        from today_pick
        where room_id = #{roomId}
    </delete>

    <update id="updateMenu" parameterType="com.kjy.gourmet.domain.menu.Menu">
        update menu
        set name              = #{name},
            thumbnail         = #{thumbnail},
            sober_comment     = #{soberComment},
            place_name        = #{placeName},
            road_address_name = #{roadAddressName},
            longitude         = #{longitude},
            latitude          = #{latitude}
        where id = #{id}
    </update>

    <select id="selectMenu" parameterType="long" resultType="com.kjy.gourmet.domain.menu.Menu">
        select *
        from menu
        where id = #{menuId}
    </select>

    <select id="selectMenuList" resultType="com.kjy.gourmet.domain.menu.Menu">
        select *
        from menu
        where room_id = #{roomId}
        order by update_date desc /* 성능 봐서 인덱싱 */
    </select>

    <select id="getAllThumbnailsById" parameterType="long" resultType="java.lang.String">
        select thumbnail
        from menu
        where room_id = #{roomId}
    </select>

    <delete id="deleteMenu" parameterType="long">
        delete
        from menu
        where id = #{menuId}
    </delete>


</mapper>