<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjy.gourmet.mapper.RoomMapper">
    <insert id="insertRoom" parameterType="com.kjy.gourmet.domain.room.Room" useGeneratedKeys="true" keyProperty="id">
        insert into room(name, invitation_code, manager_id)
        values (#{name}, #{invitationCode}, #{managerId})
    </insert>

    <select id="selectRoomById" parameterType="String" resultType="com.kjy.gourmet.domain.room.Room">
        select *
        from room
        where id = #{id};
    </select>

    <select id="selectRoomByCode" parameterType="String" resultMap="roomResultMap">
        SELECT r.*, m.id menu_id, m.name menu_name, m.thumbnail, m.sober_comment, m.longitude, m.latitude
        FROM room r
                 LEFT JOIN today_pick tp ON (r.id = tp.room_id and DATE(tp.create_date) = CURDATE())
                 LEFT JOIN menu m ON tp.menu_id = m.id
        WHERE r.invitation_code = #{invitationCode}; /* 성능 봐서 인덱싱 */
    </select>

    <delete id="deleteRoomById">
        delete
        from room
        where id = #{roomId}
    </delete>

    <insert id="insertFavoriteRoom" parameterType="long">
        insert ignore into room_favorites(user_id, room_id)
        values (#{userId}, #{roomId});
    </insert>

    <select id="selectFavoriteRoomList" parameterType="long" resultType="com.kjy.gourmet.domain.room.Room">
        select user_id, room_id as id, name, invitation_code, manager_id
        from room_favorites
                 join room on room_favorites.room_id = room.id
        where user_id = #{userId};
    </select>

    <delete id="deleteFavoriteRoom" parameterType="long">
        delete
        from room_favorites
        where user_id = #{userId}
          and room_id = #{roomId};
    </delete>

    <update id="modifyRoomName">
        update room
        set name = #{roomName}
        where id = #{roomId}
    </update>


    <delete id="deleteAllRoom">
        delete
        from room;
    </delete>

    <delete id="deleteAllRoomFavorites">
        delete
        from room_favorites;
    </delete>

    <resultMap id="roomResultMap" type="com.kjy.gourmet.domain.room.Room">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="invitationCode" column="invitation_code"/>
        <result property="managerId" column="manager_id"/>
        <association property="todayPick" javaType="com.kjy.gourmet.domain.menu.Menu">
            <id property="id" column="menu_id"/>
            <result property="roomId" column="id"/>
            <result property="name" column="menu_name"/>
            <result property="thumbnail" column="thumbnail"/>
            <result property="soberComment" column="sober_comment"/>
            <result property="longitude" column="longitude"/>
            <result property="latitude" column="latitude"/>
        </association>
    </resultMap>
</mapper>

