.simpleUpdateForm { height: 100%; padding: 8px; align-content: center; }
.simple-form-title { margin-bottom: 14px; font-size: 18px; font-weight: 850; letter-spacing: -.02em; }
@media (max-width: 767.98px) { .simpleUpdateForm [class*="col-md"] { width: 100%; }.simpleUpdateForm .btn { margin-top: 2px; } }
