.roomWrapper{
    height: 100%;
}

.roomWrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 스타일 변경 */
    cursor: pointer;
}

.myRoomTitle {
    font-size: 20px;
    font-weight: bold;
}

.myRoomCode {
    font-size: 13px;
    color: gray;
}