.room-title {
    font-size: 22px;
    font-weight: bolder;
}

.room-code {
    font-size: 14px;
    color: gray;
}

.phaseBtn {
    width: 100%;
    height: 100%;
}

.phaseBtn:disabled {
    border-color: darkgray;
    color: darkgray;
    opacity: 0.5;
    cursor: not-allowed;
}