.search-area {
    max-height: 230px;
    overflow: scroll;
}

#placeSearchInput {
    font-size: 14px;
}

.search-item {
    border: 1px solid gray;
}

.place-title {
    font-size: 14px;
    font-weight: bold;
}

.place-location {
    font-size: 10px;
}