.gourmet-box {
    text-align: center;
}

.gourmet-avatar {
    color: gray;
}

.vote-light {
    margin-top: 3px;
    height: 10px;
    border: 1px solid gray;
}

.nickName {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.gourmet-avatar.active {
    color: darkseagreen;
}